:root {
  /* Background color */
  --bg-color-primary: #1a1b1d;
  --bg-color-secondary: #28292b;
  --bg-color-tertiary: #4e4f51;
  --bg-color-quaternary: #f4f4f4;
  --bg-color-quinary: #bdc1c6;

  /* text color */
  --text-color-primary: #f4f4f4;
  --text-color-secondary: #bdc1c6;
  --text-color-tertiary: #f4f4f466;
  --text-color-quaternary: #e8eaed;
  --text-color-quinary: #28292b;

  --color-red: #ff6370;
  --color-blue-light: #96e7fe;
  --color-blue: #0177fb;
  --color-green: #2fc687;
  --color-yellow: #ffde6b;
  --color-icon-primary: #bdc1c6;
}
.light-mode:root {
  --bg-color-primary: #ffffff;
  --bg-color-secondary: #f3f8fd;

  --bg-color-quaternary: #1a1b1d;
  --bg-color-quinary: #bdc1c6;

  --text-color-primary: #292d32;
  --text-color-secondary: #292d3266;
  --text-color-tertiary: #292d3266;

  --text-color-quaternary: #1a1b1d;
  --text-color-quinary: #28292b;

  --color-icon-primary: #292d32;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
svg {
  display: inline-block;
  vertical-align: middle;
}
img {
  display: block;
  max-width: 100%;
}
input,
button {
  border: none;
  background-color: transparent;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
button {
  cursor: pointer;
}
html {
  font-size: 62.5%;
}
html,
body {
  height: auto;
}
body {
  font-size: 1.6rem;
  background-color: var(--bg-color-primary);
  color: var(--text-color-primary);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 150%;
  -webkit-font-smoothing: antialiased;
}
#app {
  min-height: 100vh;
  --width: 1440px;
  display: grid;
  grid-template-columns:
    calc(50vw - calc(var(--width) / 2))
    [sidebar-start] 368px [sidebar-end main-start] 1fr [main-end]
    calc(50vw - calc(var(--width) / 2));
}
.u-text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.u-flex-line,
.u-flex-line-center,
.u-flex-line-between {
  display: flex;
  align-items: center;
}
.u-flex-line-between {
  justify-content: space-between;
}
.u-flex-line-center {
  justify-content: center;
}
.u-font-500 {
  font-weight: 500 !important;
}
.u-text-danger {
  color: var(--color-red);
}
.is-hidden {
  display: none !important;
}
.c-icon {
  height: 2.4rem;
  width: 2.4rem;
  fill: var(--color-icon-primary);
}
.c-icon--outline {
  height: 2.4rem;
  width: 2.4rem;
  stroke: var(--color-icon-primary);
}
.c-soon {
  position: relative;
  cursor: default !important;
}
.c-soon::before {
  opacity: 1;
  content: "Soon";
  position: absolute;
  top: -1px;
  right: 67%;
  color: var(--text-color-primary);
  background-color: var(--color-red);
  padding: 2px 4px 3px;
  border-radius: 4px;
  font-size: 0.8rem;
  line-height: 1;
}
.header {
  height: 100px;
  gap: 40px;
}
.header__nav {
  flex-grow: 1;
  gap: 24px;
}
.header__nav-item {
  color: var(--text-color-primary);
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
}
.c-text-disable {
  opacity: 0.4;
}
.header__button {
  font-weight: 600;
  color: var(--text-color-quinary);
  border-radius: 12px;
  padding-inline: 24px;
  font-size: 15px;
  height: 48px;
  background-color: var(--bg-color-quaternary);
}
.header__user {
  gap: 12px;
  flex-shrink: 0;
}
.header__dropdown {
  position: relative;
  height: 100%;
}
.header__submenu {
  position: absolute;
  top: 82px;
  right: 0;
  background-color: var(--bg-color-secondary);
  padding: 24px 32px;
  border-radius: 8px;
  width: 220px;
  display: none;
  z-index: 5;
}
.header__submenu-title {
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 4px;
}
.header__submenu-address {
  margin-bottom: 24px;
  opacity: 0.4;
  font-size: 1.4rem;
}
.header__submenu-list {
  display: grid;
  gap: 24px;
}
.header__submenu-item {
  color: var(--text-color-secondary);
}
.header__dropdown:hover .header__submenu {
  display: block;
}
.header__right {
  margin-left: auto;
  gap: 4rem;
}
